body{
    
    padding: 0px;
    margin: 0px;
}

/* header */

header{
    font-family: 'Montserrat';
    display: block;
    background-color: rgb(35, 38, 195);
    width: 100%;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: x-large;
    font-weight: bolder;
}
.navbar{
    max-width: 1200px;
    margin: auto;
    display: flex;
    color: #fff;
    flex-direction: row;
    position:relative;
    align-items: center;
}

li.header{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 12px;
    padding-bottom: 10px;
    font-weight: 500;
    cursor:pointer;
}
#logo{
    font-weight: bold;
    text-align: center;
}
#profile{
    display: flex;
    list-style: none;
    margin :0px;
    margin-block: 0em;
    padding-inline: 0px;
    width: 100%;
    justify-content: right;
}

/* search section */

input{
    border:none;
    outline: none;
    height: 43px;
    width: 175px;
    font-size: large;

}
input:invalid {
    border: 2px solid red;
}
input:focus {
    border: none;
}
.input{

    width: 260px;
    height: 45px;
    border: 1px solid black;

}
label{
    margin-top: 10px;
    font-size: 17px;
    margin-left: 2px;
    color: rgb(90, 89, 89);
    font-weight: bold;
}
.inputimg{
    height: 35px;
    width: 30px;
}
#search_section{
    display: flex;
    margin: 220px auto;
    width: fit-content;
    background-color: #fff;
}
button{
    background-color:rgb(76, 79, 230) ;
    width:150px;
    border: none;
    height: 47px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-top:1px solid black;
    font-size: large;
    color: #fff;
}
#mid{
    border-left: none;
    border-right: none;
}

/* footer */
footer{
    font-family: 'Montserrat';
    height: 300px;
    background-color: rgb(51, 50, 50);
    display: flex;
    flex-direction: row;
    color: #fff;
}

table{
    margin-left: 120px;
}
th{
    width: 200px ;
    height: 50px;
    text-align: left;
}
td{
    height: 40px;
}
#footer{
    width: 55%;
    height: 60%;
    padding: 44px 100px;
    padding-right:0px ;
}
p,h5{
margin: 0%;
}
#copyright{
    width: 30%;
    height: 60%;
    padding: 60px 0px;
}