/* by sourabh */
    body{
        
        padding: 0px;
        margin: 0px;
    }
    header{
        font-family: 'Montserrat';
        display: block;
        background-color: rgb(35, 38, 195);
        width: 100%;
    }
    a{
        text-decoration: none;
        color: #fff;
        font-size: x-large;
        font-weight: bold;
    }
    .navbar{
        max-width: 1200px;
        margin: auto;
        display: flex;
        color: #fff;
        flex-direction: row; 
         position:relative;
        align-items: center;
    }
    
    li{
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 12px;
        padding-bottom: 10px;
        font-weight: 500;
    
    }
    #logo{
        font-weight: bold;
        text-align: center;
    }
    #profile{
        display: flex;
        list-style: none;
        margin :0px;
        margin-block: 0em;
        padding-inline: 0px;
        width: 100%;
        justify-content: right;
    }

    /* footer */
    footer{
        font-family: 'Montserrat';
        height: 300px;
        background-color: rgb(51, 50, 50);
        display: flex;
        flex-direction: row;
        color: #fff;
    }
    
    table{
        margin-left: 120px;
    }
    th{
        width: 200px ;
        height: 50px;
        text-align: left;
    }
    td{
        height: 40px;
    }
    #footer{
        width: 55%;
        height: 60%;
        padding: 44px 100px;
        padding-right:0px ;
    }
    p,h5{
    margin: 0%;
    }
    #copyright{
        width: 30%;
        height: 60%;
        padding: 60px 0px;
    }
     /* Done by sourabh */
    
/* Starting by hemlata */

    h2{
        font-size: 1.5em;
        font-weight: bold;
    }
    .modify-sec .jour-info .h2-tag-seo{
        font-size: 14px;
        display: inline;
    }
    .h2-tag-seo{
        display: flex;
    }
    .modify-sec-onward{
        border-bottom: 1px solid #eee;
        padding: 15px 10px 15px 25px;
       }
       .modify-sec .icon-right-arrow{
        padding: 0 15px;
       }
       .g-button{
        border: 1px solid #3e3e52;
        border-radius: 10px;
        background-color: wheat;
        padding: 5px 20px;
        display: inline-block;
        font-weight: 700;
       }
       .icon-right-arrow:before{
        content:"\EA12";
       }
       .icon-left:before{
        content: "\E9C4";
       }
    .w-60{
        width: 60%;
    }
   .d-color{
    color: #3e3e52;
   }
   .d-block{
    display: inline-block;
   }
   .f-bold{
    font-weight: 700;
   }
   .modify-sec .searchDate{
    border: 0 none;
    width:90px;
    vertical-align:middle;
    text-align: center;
   } 
   /* Ending by hemlata */
/* starting by sourabh - left side view */
   #main{
    width: 100%;
    display: flex;;
    flex-direction: row;
   }
   #filter{
        width: 20%;
        border: 1px solid black;
   }
   #buses{
        width:80%;
        border: 1px solid black;
   }
   li{
    list-style: none;
    padding-left: 0px;
    padding:7px 0px ;
    font-size: small;
   }
   ul{
    padding-left: 25px;
    margin-top: 8px;
   }
   h5{
    padding: 0px 25px;
    margin:0px;
   }
   .filter{
    width: 15px;
    height: 15px;
   }
   .inputfilter{
    padding: 0px 5px;
    height: 25px;
    width:200px;
    font-size: 15px;
   }